
.nav {
  position: relative;
}

.nav__logo {

padding: 0 2rem;
}

.collapsible {
  text-align: right;

  label {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 4rem;
    font-size: 1.8rem;
  }
}

#menu {
  display: none;
}

input:checked ~ .nav__container {
  max-height: 100%;
}

.nav__container {
  position: relative;
  right: 5rem;
  min-height: 0;
  overflow: hidden;
  }

.nav__list {
  position: relative;
  bottom: 5rem;
  left: 4rem;
  list-style-type: none;
  font-weight: $bold;
}

.nav__item {

  margin-right: 2rem;

  a {
    position: relative;
    display: flex;
    text-align: left;
    padding-left: 0.5rem;
    font-style: $old-standard_tt;
    font-family: serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: $smoky-black;

    &:hover {
      color: $light-gray;
    }
  }
}

@media only screen and (min-width: 992px) {
  .nav__logo {
    top: 1rem;
    left: 3rem;
  }

 .collapsible {
   label {
     display: none;
   }
 }


 .nav__container {
   min-height: 100%;
   padding: 0.5rem 0.3rem 0.5rem 0;
   overflow: visible;
 }

 .nav__list {
   display: flex;
   justify-content: flex-end;
   padding: inherit;
   margin: inherit;
 }

 nav__item {
  a {
     padding: 0.5rem 1rem;
     font-size: 1rem;
     font-weight: $regular;
   }
  }

}

@media only screen and (min-width: 768px) {


}

@media (min-width: 576px) {


}
