@media only screen and (min-width: 1200px) {
  .section {
    position: relative;
  }

  .section__figure {
    position: relative;
    left: 45%;
    bottom: 42rem;
    margin-bottom: -32rem;
  }

}
